@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h1{
  color: #181A2A;
}

body {
  width: 100vw;
  height: fit-content;
}